*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden ;
    background-image: url(../Media/Background.jpg);
}
.EncabezadoSecciones{
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #000000 0%, #7c0000 74%);
}
.EncabezadoSecciones h1{
    color: #ffffff;
    padding: 15px;
    font-size: 1.8rem;
    border-top: solid #000000 1px;
    border-bottom: solid #000000 1px;
    text-align: center;
    font-family: 'roboto'
}
h2{
    font-family: 'roboto';
    font-size: 1.5rem;
}
h3,h4{
    font-family: 'roboto';
    font-size: 1rem;
}
p{
    font-family: 'archivo narrow';
    font-size: 1rem;
}

@media screen and (max-width:480px){     /* ----- Media Queries Mobile Encabezados ----- */
    .EncabezadoSecciones h1{
        font-size: 13px;
        padding: 5px;
    }
    h2,h3,h4,p{
        font-size: 12px;
    }
}

/*-------------------------------------------------------------------------------------------------- PAGE INICIO -----------------------------------------------------------------------------------------------------*/

/* ---------- INICIO HEADER ---------- */

.icono{     /* ----- Logo ----- */
    width: 170px;
}
header{
    background-color: #000000;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ---------- INICIO NAV ---------- */

nav{
    width: 100%;
    height: 66px;
    font-size: 1.2rem;
    position: sticky; top:0;
    background-color: black;
    z-index: 1;
}
.menu, .menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu li a{
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: "archivo narrow";
    padding: 20px 50px;
    display: block;
}
.menu>li{
    float: left;
}
.menu li a:hover{
    background-color: white;
    color: black;
}
.menu li ul{
    display: none;
    position: absolute;
}
.menu li:hover ul{
    display: block;
}
.descargar{
    font-size: 1.2rem;
    background-color: #7c0000;
    color: white;
    text-decoration: none;
    font-family: "archivo narrow";
    padding: 20px 33px;
    position: absolute;
    display: flex;
    left: 91%;
}
.descargar:hover{
    background-color: #a70000;
}

.banner img{     /* ----- Banner ----- */
    width: 1900px;
}
.banner{
    background-color: #000000;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:480px) {     /* ----- Media Queries Mobile Header ----- */
    nav{
        height: auto;
    }
    .menu li a{
        font-size: 12px;
        padding: 5px 20px;
        margin: 0;
    }

    .banner img{
        width: 100%;
        max-width: 320px;
    }
    .icono{
        width: 110px;
    }
    .descargar{
        display: none;
    }
}


/* ---------- INICIO BIENVENIDOS - SECCION 1----------*/

.SeccionBienvenidos{ 
    background-image: url(../Media/Bienvenidos/Fondo\ bienvenidos.jpg);
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.SobreElJuego{     /* ----- Sobre el Juego ----- */
background-image: url(../Media/Bienvenidos/Background.png);
padding: 50px;
margin: 10px;
box-shadow: black 3px 3px 6px 0px;
}

.plataformas1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 30px;
}
.plataformas2{     /* ----- Plataformas ----- */
    background-image: url(../Media/Background.jpg);
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3(1fr);
    justify-content: center;
    align-items: center;
    box-shadow: black 0px 0px 25px 10px;
    margin-right: 30px;
    text-align: center;
    color: white;
}
.plataformas2 img{
    width: 60px;
    transition: 0.5s;
}
.plataformas2 img:hover{
    transform: scale(1.6,1.6);
}
.PlataformasIconos1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.PlataformasIconos2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.mobile{
    width: 800px;
    height: 100%;
    box-shadow: black 0px 0px 25px 10px;
}

@media screen and (max-width:480px){   /* ----- Media Queries Mobile SECCION 1 Inicio Bienvenidos----- */
    .SeccionBienvenidos{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .SobreElJuego{
        padding: 10px;
    }
    .plataformas1{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 10px;
    }
    .plataformas2{
        width: 100%;
        border: none;
        padding: 20px;
        align-items: center;
        margin-bottom: 20px;
    }
    .plataformas2 img{
        width: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        transition: none;
    }
    .plataformas2 img:hover{
        width: 40px;
    }
    .mobile{
        width: 100%;
    }
}


/*---------- INICIO NUESTROS DLC - SECCION 2 ----------*/

.SeccionDLC{
    background-image: url(../Media/DLC/DLC\ fondo.jpg);
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    padding-bottom: 120px;
}
.DivDLC{ 
    background-image: url(../Media/Background.jpg);
    background-size: cover;
    color: #ffffff;
    padding: 30px 0px 0px 40px;
    border: 1px solid #7e7e7e;

    height: 240px;
}

.DivDLCSadako img{      /* ----- Inicio DLC Sadako Rising ----- */  
    width: 700px;
}
.ContieneSadako{      
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
}
.SeccionDLC>.DivDLCSadako{
    transition: 0.5s;
    box-shadow: black 0px 0px 25px 10px;
}
.SeccionDLC>.DivDLCSadako:hover{
    transform: scale(1.1,1.1);
}

.DivDLCResident img{    /* ----- Inicio DLC Resident Evil ----- */
    width: 700px;
}
.ContieneResident{     
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-row-gap: 30px;
}
.SeccionDLC>.DivDLCResident{
    transition: 0.5s;
    box-shadow: black 0px 0px 25px 10px;
}
.SeccionDLC>.DivDLCResident:hover{
    transform: scale(1.1,1.1);
}

@media screen and (max-width:480px){     /* ----- Media Queries Mobile SECCION 2 Inicio DLC ----- */

    .SeccionDLC{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
    .DivDLC{
        padding: 10px;
        height: auto;
        width: 350px;
    }
    .DivDLCSadako img{
        width: 350px;
    }
    .DivDLCResident img{
        width: 350px;
        margin-top: 20px;
    }
}


/*---------- INICIO DE QUE LADO ESTAS? - SECCION 3 ----------*/

.personajes{
    background-image: url(../Media/Personajes/Personajes\ fondo.jpg);
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sobreviviente{
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #637aa3 0%, #152d70 74%);
    border-right: solid 1px black;
    box-shadow: black 3px 3px 6px 0px;
}
.asesino{
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #8a0c0c 74%);
    box-shadow: black 3px 3px 6px 0px;
}
.EncabezadoSeccion3{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.EncabezadoSeccion3 div h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.DivMikaela1{   /* --- Inicio Sobreviviente Mikaela Reid --- */
    display: flex;
    justify-content: center;
}
.DivMikaela1 img{
    width: 400px;
    border: 1px solid black;
    box-shadow: black 3px 3px 6px 0px;
}
.DivMikaela2{ 
    background-color: #000000;
    background-image: linear-gradient(315deg, #637aa3 0%, #152d70 74%);
    width: 300px; height: 582px;
    padding: 40px;
    margin-right: 10px;
    border: 1px solid black;
    box-shadow: black 3px 3px 6px 0px;
}
.personajes>.DivMikaela1{
    transition: 0.5s;
}
.personajes>.DivMikaela1:hover{
    transform: scale(1.1,1.1);
}

.DivTrickster1{   /* --- Inicio Asesino The Trickster --- */
    display: flex;
    justify-content: center;

}
.DivTrickster1 img{
    width: 400px;
    border: 1px solid black;
    box-shadow: black 3px 3px 6px 0px;
}
.DivTrickster2{ 
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #8a0c0c 74%);
    width: 300px; height: 582px;
    padding: 40px;
    margin-left: 10px;
    border: 1px solid black;
    box-shadow: black 3px 3px 6px 0px;
}
.asesino>.DivTrickster1{
    transition: 0.5;
}
.personajes>.DivTrickster1:hover{
    transform: scale(1.1,1.1);
}

@media screen and (max-width:480px){     /* ----- Media Queries Mobile SECCION 3 Inicio De que lado estas?----- */
    .EncabezadoSeccion3{
        display: none;
    }
    .personajes{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .DivMikaela1{
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 0px;
        margin: 0;
        padding-top: 10px;
    }
    .DivMikaela1 img{
        width: 330px;
    }
    .DivMikaela2{
        margin: 0px;
        margin-bottom: 25px;
        padding: 10px;
        height: auto;
        width: auto;
    }
    .DivTrickster1{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
        padding-bottom: 10px;
    }
    .DivTrickster1 img{
        width: 330px;
    }
    .DivTrickster2{
        margin: 0px;
        padding: 10px;
        height: auto;
        width: auto;
    }
}


/*---------- INICIO NOTICIAS - SECCION 4 ----------*/

.InicioNoticias{
    background-image: url(../Media/Noticias/Noticias\ fondo\ 2.jpg);
    color: white;
    text-align: center;
    padding: 50px 20px 50px 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "InicioAniversario InicioCapitulo24"
    "InicioAniversario InicioTomo12";
}
.InicioNoticias>div{
    padding: 40px;
    margin: 20px;
}
.InicioNoticias img{
    transition: 0.5s;
}
.InicioNoticias img:hover{
    transform: scale(1.1,1.1);
    border: 2px solid #7c0000;
}
.InicioAniversario{   /* --- Noticias Aniversario --- */
    background-image: url(../Media/Background.jpg);
    background-size: cover;
    box-shadow: black 0px 0px 25px 10px;
    grid-area: InicioAniversario;
}
.InicioAniversarioMedia{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 100px;
    padding-top: 50px;
    justify-items: center;
    align-items: center
}
.InicioAniversarioMedia iframe{
    width: 600px;
    height: 300px;
    border: 1px solid #7c0000;
    box-shadow: black 0px 0px 25px 10px;
}
.InicioAniversarioMedia img{
    border: 1px solid #7c0000;
    box-shadow: black 0px 0px 25px 10px;
}

.InicioCapitulo24{   /* --- Noticias Capitulo 24 --- */
    background-image: url(../Media/Background.jpg);
    box-shadow: black 0px 0px 25px 10px;
    grid-area: InicioCapitulo24;
    justify-items: center;
    
}
.InicioCapitulo24 img{
    width: 480px;
    border: 1px solid #7c0000;
    box-shadow: black 0px 0px 25px 10px;
}

.InicioTomo12{   /* --- Noticias Tomo 12 --- */
    background-image: url(../Media/Background.jpg);
    box-shadow: black 0px 0px 25px 10px;
    grid-area: InicioTomo12;
}
.InicioTomo12 img{
    width: 480px;
    border: 1px solid #7c0000;
    box-shadow: black 0px 0px 25px 10px;
}

@media screen and (max-width:480px){     /* ----- Media Queries Mobile SECCION 4 Inicio Noticias ----- */
    .InicioNoticias{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 0;
    }
    .InicioNoticias>div{
        padding: 20px;
        margin: 10px;
    }
    .InicioAniversarioMedia{ 
        padding: 0;
    }
    .InicioAniversarioMedia img{
        width: 230px;
        height: 115px;
    }
    .InicioAniversarioMedia iframe{
        display: none;
    }
    .InicioCapitulo24 img{
        width: 230px;
    }
    .InicioTomo12 img{
        width: 230px;
    }
}


/*---------- INICIO FOOTER - SECCION 5  ---------- */

footer{
    color: white;
}
.MenuFooter li a{  /* ----- Menu Footer -----*/
    font-family: "archivo narrow";
    color: white;
}
.MenuFooter ul{
    list-style: none;
}
.DivFooter{
    background-image: url(../Media/Footer/Fondo\ Footer.png);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 50px;
    border-top: 5px solid #929292;
}
.IconoRedes{ /* ----- Redes Footer -----*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.IconoRedes div img{
    width: 40px;
}
.unete{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.IconoFooter{ /* ----- Icono Footer -----*/
    display: flex;
    flex-direction: row-reverse;
}
.IconoFooter img{
    width: 300px;
}

@media screen and (max-width:480px){     /* ----- Media Queries Mobile Inicio Footer ----- */
    .DivFooter{
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 450px;
        justify-content: space-around;
        text-align: center;
    }
    .MenuFooter ul li a{
        font-size: 14px;
    }
    .unete{
        padding-bottom: 30px;
    }
    .IconoRedes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 320px;
    }
    .IconoRedes div img{
        width: 30px;
    }
    .IconoFooter img{
        width: 200px;
    }
}

/*-------------------------------------------------------------------------------------------------- PAGE JUEGO ------------------------------------------------------------------------------------------------------*/

.JuegoBody{ /* ----- Body -----*/
background-image: url(../Media/Background.jpg);
background-size: cover;
}

/* ---------- JUEGO PERSONAJES  - SECCION 1 ---------- */

/* ----- Sobrevivientes -----*/

.JuegoSobrevivientes{
    color: #a7a7a7;
    display: flex;
    justify-content: space-around;
}
.JuegoSobrevivientes img{
    width: 15vw;
    border: 3px solid #a5af12;
    box-shadow: black 0px 0px 25px 10px;
}
.JuegoSobrevivientes>div{
    padding-top: 70px;
    width: 15vw;
    text-align: center;
    transition: 0.5s;
}
.JuegoSobrevivientes>div:hover{
    transform: scale(1.1,1.1);
}

/* ----- Asesinos ----- */

.JuegoAsesinos{
    color: #a7a7a7;
display: flex;
justify-content: space-around;
    padding-top: 50px;
}
.JuegoAsesinos img{
    width: 15vw;
    border: 3px solid #3f0d12;
    box-shadow: black 0px 0px 25px 10px;
}
.JuegoAsesinos>div{
    width: 15vw;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 50px;
    transition: 0.5s;
}
.JuegoAsesinos>div:hover{
    transform: scale(1.1,1.1);
}


@media screen and (max-width:480px) { /* ---------- Media Queries Mobile Juego Personajes ----------*/ 
    .JuegoSobrevivientes{ /* ----- Sobreviviente -----*/
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .JuegoSobrevivientes img{ 
        width: 130px;
    }
    .JuegoSobrevivientes>div{
        width: auto;
    }
    .JuegoAsesinos{ /* ----- Asesino -----*/
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .JuegoAsesinos img{ 
        width: 130px;
    }
    .JuegoAsesinos>div{
        width: auto;
    }
}

/* --------------------------------------------------------------------------------------- PAGE COMUNIDAD ------------------------------------------------------------------------------------------------------------*/

/* ----- Comunidad -----*/

.comunidad{
    color: white;
    background-color: #000000;
    background-image: linear-gradient(315deg, black 0%, #0e0e0e 74%);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.ComunidadMedia img{
    width: 100%;
    box-shadow: #727272 0px 0px 25px 0px;
}
.ComunidadIconos img{
    width: 100px;
    border-radius: 100px;
}
.ComunidadIconos h2{
    padding: 20px;
    font-family: "archivo narrow"; 
}
.ComunidadIconos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.ComunidadIconos>div>div>img{
    transition: 0.5s;
}
.ComunidadIconos>div>div>img:hover{
    transform: scale(1.1,1.1);
    box-shadow: white 0px 0px 5px 1px;
    border-radius: 100px;
}
/* ----- Redes ----- */

.ComunidadRedes{
    color: white;
    background-color: #000000;
    background-image: linear-gradient(315deg, black 0%, #0e0e0e 74%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.ComunidadRedesIconos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-self: center;
    width: 100%;
}
.ComunidadRedesIconos img{
    width: 100px;
    border-radius: 100px;
}
.ComunidadRedesIconos h2{
    padding: 20px;
    font-family: "archivo narrow";
}
.ComunidadRedesIconos>div>div>img{
    transition: 0.5s;
}
.ComunidadRedesIconos>div>div>img:hover{
    transform: scale(1.1,1.1);
    box-shadow: white 0px 0px 5px 1px;
    border-radius: 100px;
}



@media screen and (max-width:480px){ /* ---------- Media Queries Mobile Comunidad ----------*/
    .ComunidadIconos img, .ComunidadRedesIconos img{
        width: 30px;
    }
    .ComunidadIconos h2, .ComunidadRedesIconos h2{
        padding: 0;
        margin: 0;
    }

    .comunidad{ /* ----- Comunidad -----*/
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 350px;
        padding: 0px;
        margin: 0px;
    }
    .ComunidadMedia img{
        width: 90%;
    }

    .ComunidadRedes{ /* ----- Comunidad Redes -----*/
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 350px;
        padding: 0px;
        margin: 0px;
    }
    .ComunidadRedesMedia{
        align-items: center;
        align-content: center;
    }
} 

/*--------------------------------------------------------------------------------------- PAGE NOTICIAS --------------------------------------------------------------------------------------------------------------*/

.noticias{ 
    color: white;
    background-image: url(../Media/Background.jpg);
    background-size: cover;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "aniversario capitulo24"
    "aniversario tomo12"
    "titan rock";
    padding: 50px 20px 50px 20px;
}
.noticias>div{
    padding: 30px;
    margin: 20px;
    box-shadow: black 0px 0px 25px 10px;
}

.aniversario{ /* ----- Aniversario -----*/
    background-image: url(../Media/Noticias/Noticias\ fondo.png);
    grid-area: aniversario;
}
.aniversario iframe{ 
    width: 600px;
    height: 300px;
    border: 1px solid #7c0000;
    box-shadow: black 0px 0px 25px 10px;
}
.AniversarioMedia{
    display: grid;
    grid-row-gap: 60px;
    justify-content: center;
    padding-top: 30px;
}
.aniversario img{
    border: 1px solid #7c0000;
    box-shadow: black 0px 0px 25px 10px;
    transition: 0.5s;
}
.aniversario img:hover{
    transform: scale(1.1,1.1);
    border: 2px solid #7c0000;
}

.capitulo24 img{ /* ----- Capitulo 24 ----- */
    width: 480px;
    border: 1px solid #7c0000;
    box-shadow: black 0px 0px 25px 10px;
    transition: 0.5s;
}
.capitulo24 img:hover{
    transform: scale(1.1,1.1);
    border: 2px solid #7c0000;
}
.capitulo24{
    background-image: url(../Media/Noticias/Noticias\ fondo.png);
    grid-area: capitulo24;
}

.tomo12 img{ /* ----- Tomo 12 ----- */
    width: 480px;
    border: 1px solid #7c0000;
    box-shadow: black 0px 0px 25px 10px;
    transition: 0.5s;
}
.tomo12 img:hover{
    transform: scale(1.1,1.1);
    border: 2px solid #7c0000;
}
.tomo12{
    background-image: url(../Media/Noticias/Noticias\ fondo.png);
    grid-area: tomo12;
}

.titan img{ /* ----- Attack of Titan ----- */
    width: 480px;
    border: 1px solid #7c0000;
    box-shadow: black 0px 0px 25px 10px;
    transition: 0.5s;
}
.titan img:hover{
    transform: scale(1.1,1.1);
    border: 2px solid #7c0000;
}
.titan{
    background-image: url(../Media/Noticias/Noticias\ fondo.png);
    grid-area: titan;
}

.rock img{ /* ----- Rock a Bolly ----- */
    width: 480px;
    border: 1px solid #7c0000;
    box-shadow: black 0px 0px 25px 10px;
    transition: 0.5s;
}
.rock img:hover{
    transform: scale(1.1,1.1);
    border: 2px solid #7c0000;
}
.rock{
    background-image: url(../Media/Noticias/Noticias\ fondo.png);
    grid-area: rock;
}

@media screen and (max-width:480px){
    .noticias{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
.noticias img{
    width: 100%;
}
    .aniversario iframe{
        display: none;
    }
    .AniversarioMedia{
        padding: 0;
    }
}

/* --------------------------------------------------------------------------------------------------- PAGE CONTACTO ------------------------------------------------------------------------------------------------ */

.contacto{
    background-image: url(../Media/Background.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 30px;
}
.formulario{
    display: flex;
    justify-content: end;
    opacity: 0.9;
}
form{
    width: 25vw;
    padding: 16px;
    margin: 0;
    border-radius: 5px;
    color: #000000;
    background-color: #ffffff;
    font-family: "roboto";
    box-shadow: 0px 0px 6px 0px #ffffffcc;
    transition: 0.5s;
}
form:hover{
    box-shadow: 0px 0px 6px 5px #ffffffcc;
}
.box{
margin: 30px 50px 10px 20px;
position: relative;
}
.box>input{
    width: 100%;
}
legend{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20px;
}
input{
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid rgb(167, 167, 167);
    font-family: "roboto";
}
input:focus{
    outline: none;
    color: #929292;
}
select{
    font-family: "roboto";
    margin: 0px 0px 0px 20px;
    padding: 5px;
}
label{
    font-size: 0.9rem;
}
textarea{
    width: 100%;
    height: 100%;
}
.novedades{
    width: 100%;
    padding: 20px 50px 20px 10px;
}
.enviar{
    width: 100%; height: 50px;
    border: none;
    margin-top: 10px;
    background-color: #292929;
    color: rgb(255, 255, 255);
}

.FormTexto p{
    font-size: 2rem;
    color: white;
    animation: contacto_animacion;
    animation-duration: 5s;
    transition: 0.5s ease-in-out;
    animation-iteration-count: infinite;
    position: relative;
}
.FormTexto{
    width: 25vw;
    padding-left: 90px;
}
@keyframes contacto_animacion{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media screen and (max-width:480px){
    .contacto{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }
    .FormTexto{
        padding: 30px;
        width: 100vw;
    }
    .FormTexto p{
        font-size: 0.9rem;
        text-align: center;
    }
    .formulario{
        padding-bottom: 40px;
        width: 75%;
    }
    form{
        width: 90vw;
    }
    legend{
        font-size: 1rem;
    }
    label{
        font-size: 0.7rem;
    }
    textarea{
        height: 70px;
    }
    .box{
        margin: 0px 50px 0px 20px;
    }
    #asunto{
        width: auto;
        font-size: 0.6rem;
    }
}