* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* -------------------------------------------------------------------------------------------------LAYOUT -----------------------------------------------------------------------------------------------------------*/
body {
  overflow-x: hidden; }

h2 {
  font-size: 1.5rem;
  font-family: "roboto"; }

h3 {
  font-size: 1rem;
  font-family: "roboto"; }

h4 {
  font-size: 1.3rem;
  font-family: "archivo narrow"; }

p {
  font-size: 1rem;
  font-family: "archivo narrow"; }

.encabezado__secciones {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #000000 0%, #7c0000 74%); }
  .encabezado__secciones h2 {
    color: #ffffff;
    padding: 15px;
    margin: 0;
    border-top: solid #000000 1px;
    border-bottom: solid #000000 1px;
    text-align: center; }

/* ----- Media Queries Mobile Encabezados ----- */
@media screen and (max-width: 480px) {
  .encabezado__secciones h2 {
    font-size: 1rem;
    padding: 5px; } }

/* ---------- HEADER ----------*/
header {
  background-color: #000000;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  header .icono {
    width: 170px; }

/* ---------- NAV ---------- */
nav {
  width: 100%;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 1; }
  nav .menu {
    margin: auto; }
    nav .menu, nav .menu ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center; }
    nav .menu li a {
      background-color: black;
      color: white;
      text-decoration: none;
      font-family: "archivo narrow";
      padding: 12px 30px 12px 30px;
      display: block;
      animation-name: animacion_nav;
      transition: 0.2s; }
    nav .menu > li {
      float: left; }
    nav .menu li a:hover {
      background-color: white;
      color: black; }
    nav .menu li ul {
      display: none;
      position: absolute;
      padding: 0; }
    nav .menu li:hover ul {
      display: block; }
    nav .menu .descargar {
      font-size: 1.2rem;
      background-color: #7c0000;
      color: white;
      text-decoration: none;
      font-family: "archivo narrow";
      position: absolute;
      display: flex;
      padding: 10px 30px 10px 30px;
      left: 91%; }
    nav .menu .descargar:hover {
      background-color: #a70000;
      color: white; }

@keyframes animacion_nav {
  0% {
    background-color: black; }
  100% {
    background-color: white; } }

/* ---------- BANNER ---------- */
.banner {
  background-color: #000000;
  display: flex;
  justify-content: center; }
  .banner img {
    width: 1900px; }

/* ----- Media Queries Mobile Header ----- */
@media screen and (max-width: 480px) {
  .icono {
    width: 110px; }
  nav {
    height: auto; }
    nav .menu li a {
      font-size: 12px;
      padding: 5px 20px;
      margin: 0; }
    nav .menu .descargar {
      font-size: 12px;
      margin: 0;
      padding: 5px 20px;
      left: 77%;
      bottom: 200%; }
  .banner img {
    width: 100%;
    max-width: 320px; } }

/* ---------- FOOTER ---------- */
footer .seccion__footer {
  background-image: url("../Media/Footer/Fondo Footer.png");
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 50px;
  border-top: 5px solid #929292; }
  footer .seccion__footer .menu__footer ul {
    list-style: none; }
  footer .seccion__footer .menu__footer a {
    font-family: "archivo narrow";
    color: white;
    text-decoration: none; }
  footer .seccion__footer .unete {
    display: none; }
  footer .seccion__footer .icono__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    footer .seccion__footer .icono__redes img {
      width: 40px; }
  footer .seccion__footer .icono__footer {
    display: flex;
    flex-direction: row-reverse; }
    footer .seccion__footer .icono__footer img {
      width: 300px; }

/* ----- Media Queries Mobile Footer ----- */
@media screen and (max-width: 480px) {
  footer .seccion__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center; }
    footer .seccion__footer .menu__footer {
      padding-bottom: 40px; }
    footer .seccion__footer .unete {
      padding-bottom: 40px; }
    footer .seccion__footer .icono__redes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 320px;
      padding-bottom: 40px; }
      footer .seccion__footer .icono__redes img {
        width: 30px; }
    footer .seccion__footer .icono__footer img {
      width: 200px; } }

/* Fuente - Body - Encabezador - Header - Nav - Banner - Footer */
/* ------------------------------------------------------------------------------------------ INICIO -----------------------------------------------------------------------------------------------------------------*/
/* ---------- INICIO - BIENVENIDOS - SECCION 1 ---------- */
.seccion__bienvenidos {
  background-image: url("../Media/Bienvenidos/Fondo bienvenidos.jpg");
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "intro intro plataformas" "intro intro mobile";
  padding: 80px;
  align-items: center; }
  .seccion__bienvenidos .sobre__juego {
    background-image: url("../Media/Bienvenidos/Background.png");
    background-size: cover;
    padding: 30px;
    width: 90%;
    box-shadow: black 3px 3px 6px 0px;
    grid-area: intro; }
  .seccion__bienvenidos .plataformas1 .plataformas2 {
    background-image: url("../Media/Background.jpg");
    box-shadow: black 0px 0px 25px 10px;
    padding: 40px;
    text-align: center;
    color: white;
    grid-area: plataformas;
    width: 500px;
    margin-bottom: 50px; }
    .seccion__bienvenidos .plataformas1 .plataformas2 img {
      width: 60px;
      transition: 0.5s; }
    .seccion__bienvenidos .plataformas1 .plataformas2 img:hover {
      transform: scale(1.6, 1.6); }
    .seccion__bienvenidos .plataformas1 .plataformas2 .plataformas__iconos1, .seccion__bienvenidos .plataformas1 .plataformas2 .plataformas__iconos2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      padding-top: 20px;
      padding-bottom: 20px; }
    .seccion__bienvenidos .plataformas1 .plataformas2 .plataformas__iconos2 {
      /* -------- EXTEND -----------*/
      margin-top: 20px; }
  .seccion__bienvenidos .plataformas1 .mobile {
    width: 500px;
    height: 100%;
    box-shadow: black 0px 0px 25px 10px;
    grid-area: mobile; }

/* ---------- INICIO - DLC - SECCION 2 ---------- */
.dlc__seccion {
  background-image: url("../Media/DLC/DLC fondo.jpg"); }
  .dlc__seccion .dlc__carousel {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .dlc__seccion .dlc__carousel .dlc__card {
      margin: 7rem 6rem 7rem 6rem;
      width: 35%;
      background-image: url("../Media/DLC/Fondo Contiene.png");
      transition: 0.5s;
      box-shadow: black 0px 0px 25px 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
      .dlc__seccion .dlc__carousel .dlc__card img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
      .dlc__seccion .dlc__carousel .dlc__card:hover {
        transform: scale(1.1, 1.1); }
      .dlc__seccion .dlc__carousel .dlc__card .dlc__card__body {
        color: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 1.5rem; }

/* ---------- INICIO - DE QUE LADO ESTAS? - SECCION 3 ---------- */
.encabezado__seccion3 {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black; }
  .encabezado__seccion3 h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-weight: bold; }
  .encabezado__seccion3 .sobreviviente {
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #2f4c7e 0%, #437ed8 74%);
    border-right: solid 1px black;
    box-shadow: black 3px 3px 6px 0px; }
  .encabezado__seccion3 .asesino {
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #8a0c0c 74%);
    box-shadow: black 3px 3px 6px 0px; }

.personajes {
  background-image: url("../Media/Personajes/Personajes fondo.jpg"); }
  .personajes .personajes__carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 6rem 8rem 6rem 8rem; }
    .personajes .personajes__carousel .personajes__cont {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      transition: 0.5s; }
      .personajes .personajes__carousel .personajes__cont h4 {
        font-weight: bold;
        margin: 0;
        text-align: center; }
      .personajes .personajes__carousel .personajes__cont .personajes__surv__title {
        background-color: #000000;
        background-image: linear-gradient(315deg, #2f4c7e 0%, #437ed8 74%);
        color: #000000;
        box-shadow: black 0px 0px 25px 10px;
        font-family: "archivo narrow";
        width: 400px;
        height: auto;
        padding: 20px;
        margin: 0;
        /* ------------------ MIXINS -----------------*/
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; }
      .personajes .personajes__carousel .personajes__cont .personajes__kill__title {
        background-color: #3f0d12;
        background-image: linear-gradient(315deg, #3f0d12 0%, #8a0c0c 74%);
        color: #000000;
        box-shadow: black 0px 0px 25px 10px;
        font-family: "archivo narrow";
        width: 400px;
        height: auto;
        padding: 20px;
        margin: 0;
        /* ------------------ MIXINS -----------------*/
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; }
      .personajes .personajes__carousel .personajes__cont .inicio__img__hover {
        position: relative;
        width: 400px; }
        .personajes .personajes__carousel .personajes__cont .inicio__img__hover img {
          box-shadow: black 0px 0px 25px 10px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          display: block;
          width: 100%; }
        .personajes .personajes__carousel .personajes__cont .inicio__img__hover .img__surv {
          border-top: 2px solid #132138;
          border-left: 2px solid #132138;
          border-right: 2px solid #132138; }
        .personajes .personajes__carousel .personajes__cont .inicio__img__hover .img__kill {
          border-top: 2px solid #1f0507;
          border-left: 2px solid #1f0507;
          border-right: 2px solid #1f0507; }
        .personajes .personajes__carousel .personajes__cont .inicio__img__hover .inicio__img__overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: opacity 0.30s;
          padding: 20px; }
          .personajes .personajes__carousel .personajes__cont .inicio__img__hover .inicio__img__overlay:hover {
            opacity: 1; }
          .personajes .personajes__carousel .personajes__cont .inicio__img__hover .inicio__img__overlay p {
            font-size: 1rem;
            padding: 30px; }
      .personajes .personajes__carousel .personajes__cont:hover {
        transform: scale(1.1, 1.1); }

/* ---------- INICIO - NOTICIAS - SECCION 3 ---------- */
.inicio__noticias {
  background-image: url("../Media/Noticias/Noticias fondo 2.jpg");
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "InicioAniversario InicioCapitulo24" "InicioAniversario InicioTomo12"; }
  .inicio__noticias div {
    padding: 25px;
    margin: 15px; }
    .inicio__noticias div img {
      border: 1px solid #7c0000;
      box-shadow: black 0px 0px 25px 10px;
      transition: 0.5s; }
    .inicio__noticias div img:hover {
      transform: scale(1.1, 1.1);
      border: 2px solid #7c0000; }
    .inicio__noticias div iframe {
      width: 550px;
      height: 300px;
      margin-bottom: 60px;
      border: 1px solid #7c0000;
      box-shadow: black 0px 0px 25px 10px; }
  .inicio__noticias .inicio__aniversario {
    background-image: url("../Media/Background.jpg");
    background-size: cover;
    box-shadow: black 0px 0px 25px 10px;
    grid-area: InicioAniversario;
    width: 80%; }
    .inicio__noticias .inicio__aniversario .inicio__aniversario__media {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 100px;
      justify-items: center;
      align-items: center; }
  .inicio__noticias .inicio__cap24 {
    background-image: url("../Media/Background.jpg");
    background-size: cover;
    box-shadow: black 0px 0px 25px 10px;
    grid-area: InicioCapitulo24;
    justify-items: center;
    width: 80%; }
    .inicio__noticias .inicio__cap24 img {
      width: 400px; }
  .inicio__noticias .inicio__tomo12 {
    background-image: url("../Media/Background.jpg");
    background-size: cover;
    box-shadow: black 0px 0px 25px 10px;
    grid-area: InicioTomo12;
    width: 80%; }
    .inicio__noticias .inicio__tomo12 img {
      width: 400px; }

/* ------------------------------------------------------------------------------------------------- JUEGO -----------------------------------------------------------------------------------------------------------*/
.juego__carousel {
  display: flex;
  justify-content: space-evenly; }
  .juego__carousel .juego__card__surv {
    background-color: #604417; }
  .juego__carousel .juego__card__kill {
    background-color: #3f0d12; }
  .juego__carousel .juego__card {
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-top: 7rem;
    margin-bottom: 7rem;
    transition: 0.5s;
    color: #ffffff;
    box-shadow: #000000 0px 0px 25px 10px; }
    .juego__carousel .juego__card:hover {
      transform: scale(1.1, 1.1);
      box-shadow: black 0px 0px 25px 10px; }
    .juego__carousel .juego__card .juego__img__hover {
      position: relative; }
      .juego__carousel .juego__card .juego__img__hover img {
        display: block;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px; }
      .juego__carousel .juego__card .juego__img__hover .juego__img__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.30s; }
        .juego__carousel .juego__card .juego__img__hover .juego__img__overlay:hover {
          opacity: 1; }
        .juego__carousel .juego__card .juego__img__hover .juego__img__overlay p {
          padding: 30px; }
    .juego__carousel .juego__card h2 {
      text-align: center;
      margin: 0; }
    .juego__carousel .juego__card .juego__kill__title {
      background-image: linear-gradient(315deg, #3f0d12 0%, #8a0c0c 74%);
      box-shadow: black 0px 0px 25px 10px;
      border-bottom-left-radius: 5px; }
    .juego__carousel .juego__card .juego__surv__title {
      background-image: linear-gradient(315deg, #604417 0%, #b6a536 74%);
      box-shadow: black 0px 0px 25px 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }

.surv__bg {
  background-image: url(../Media/Sobrevivientes/surv_bg.jpg);
  background-size: cover; }

.killer__bg {
  background-image: url(../Media/Asesinos/killer_bg.jpg);
  background-size: cover; }

/* --------------------------------------------------------------------------------------------------- INICIO --------------------------------------------------------------------------------------------------------*/
/* ----- Media Queries Mobile Inicio Bienvenidos ----- */
@media screen and (max-width: 480px) {
  .seccion__bienvenidos {
    display: flex;
    flex-direction: column;
    padding: 30px; }
    .seccion__bienvenidos h2 {
      font-size: 1rem; }
    .seccion__bienvenidos h3, .seccion__bienvenidos p {
      font-size: 0.8rem; }
    .seccion__bienvenidos .sobre__juego {
      padding: 20px;
      width: 100%; }
    .seccion__bienvenidos .plataformas1 {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin-top: 20px; }
      .seccion__bienvenidos .plataformas1 .plataformas2 {
        width: 100%;
        border: none;
        padding: 20px;
        align-items: center;
        margin-bottom: 20px; }
        .seccion__bienvenidos .plataformas1 .plataformas2 img {
          width: 40px;
          margin-bottom: 10px;
          transition: none; }
        .seccion__bienvenidos .plataformas1 .plataformas2 img:hover {
          width: 40px; }
      .seccion__bienvenidos .plataformas1 .mobile {
        width: 100%; } }

/* ----- Media Queries Mobile Inicio DLC ----- */
@media screen and (max-width: 480px) {
  .dlc__seccion .dlc__carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem; }
    .dlc__seccion .dlc__carousel .dlc__card {
      margin: 1rem;
      width: 85%; }
      .dlc__seccion .dlc__carousel .dlc__card .dlc__card__body {
        padding: 0px 15px 15px 15px;
        margin: 0;
        align-items: flex-start; }
        .dlc__seccion .dlc__carousel .dlc__card .dlc__card__body p, .dlc__seccion .dlc__carousel .dlc__card .dlc__card__body h3 {
          font-size: 0.7rem;
          margin: 0; }
        .dlc__seccion .dlc__carousel .dlc__card .dlc__card__body h3 {
          padding-top: 15px; } }

/* ----- Media Queries Mobile Inicio De que lado estas?----- */
@media screen and (max-width: 480px) {
  .encabezado__seccion3 h3 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .personajes .personajes__carousel {
    margin: 4rem 6rem 4rem 6rem; }
    .personajes .personajes__carousel .personajes__cont {
      padding: 10px; }
      .personajes .personajes__carousel .personajes__cont h4 {
        font-size: 1rem; }
      .personajes .personajes__carousel .personajes__cont .personajes__surv__title, .personajes .personajes__carousel .personajes__cont .personajes__kill__title {
        width: 180px;
        padding: 10px; }
      .personajes .personajes__carousel .personajes__cont .inicio__img__hover {
        width: 180px; }
        .personajes .personajes__carousel .personajes__cont .inicio__img__hover img {
          width: 180px; }
        .personajes .personajes__carousel .personajes__cont .inicio__img__hover .inicio__img__overlay p {
          font-size: 0.6rem;
          padding: 0; } }

/* ----- Media Queries Mobile Inicio Noticias ----- */
@media screen and (max-width: 480px) {
  .inicio__noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    .inicio__noticias div {
      padding: 20px;
      margin: 10px; }
      .inicio__noticias div iframe {
        display: none; }
      .inicio__noticias div p {
        font-size: 0.8rem; }
    .inicio__noticias .inicio__aniversario {
      width: 90%; }
      .inicio__noticias .inicio__aniversario img {
        width: 300px; }
    .inicio__noticias .inicio__cap24 {
      width: 90%; }
      .inicio__noticias .inicio__cap24 img {
        width: 300px; }
    .inicio__noticias .inicio__tomo12 {
      width: 90%; }
      .inicio__noticias .inicio__tomo12 img {
        width: 300px; } }

/* ------------------------------------------------------------------------------------------------- JUEGO -----------------------------------------------------------------------------------------------------------*/
/* ----- Media Queries Mobile Juego ----- */
@media screen and (max-width: 480px) {
  .juego__carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 50px 50px 50px; }
    .juego__carousel .juego__card {
      display: grid;
      grid-template-columns: 1fr;
      width: 50%;
      margin: 10px; }
      .juego__carousel .juego__card:hover {
        transform: none; }
      .juego__carousel .juego__card .juego__img__hover .juego__img__overlay p {
        font-size: 0.7rem;
        padding: 10px; }
      .juego__carousel .juego__card h2 {
        font-size: 0.7rem; } }
