
/* ------------------------------------------------------------------------------------------ INICIO -----------------------------------------------------------------------------------------------------------------*/

/* ---------- INICIO - BIENVENIDOS - SECCION 1 ---------- */
.seccion__bienvenidos{
    background-image: url("../Media/Bienvenidos/Fondo\ bienvenidos.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "intro intro plataformas"
    "intro intro mobile";
    padding: 80px;
    align-items: center;
    .sobre__juego{
        background-image: url("../Media/Bienvenidos/Background.png");
        background-size: cover;
        padding: 30px;
        width: 90%;
        box-shadow: black 3px 3px 6px 0px;
        grid-area: intro;
    }
    .plataformas1{
        .plataformas2{
            background-image: url("../Media/Background.jpg");
            box-shadow: black 0px 0px 25px 10px;
            padding: 40px;
            text-align: center;
            color: white;
            grid-area: plataformas;
            width: 500px;
            margin-bottom: 50px;
            img{
                width: 60px;
                transition: 0.5s;        
            }    
            & img:hover{
                transform: scale(1.6,1.6);
            }
            .plataformas__iconos1{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;
                padding-top: 20px;
                padding-bottom: 20px;        
            }
            .plataformas__iconos2{
                @extend .plataformas__iconos1;   /* -------- EXTEND -----------*/
                margin-top: 20px;
            }
        }
        .mobile{
            width: 500px;
            height: 100%;
            box-shadow: black 0px 0px 25px 10px;
            grid-area: mobile;    
        }
    }
}


/* ---------- INICIO - DLC - SECCION 2 ---------- */
.dlc__seccion{
    background-image: url("../Media/DLC/DLC\ fondo.jpg");
    .dlc__carousel{
        display: flex;
        flex-direction: row;
        justify-content: center;  
        .dlc__card{
            margin: 7rem 6rem 7rem 6rem;
            width: 35%;
            background-image: url("../Media/DLC/Fondo\ Contiene.png");
            transition: 0.5s;
            box-shadow: black 0px 0px 25px 10px; 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            img{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }  
            &:hover{
                transform: scale(1.1,1.1);
            }   
            .dlc__card__body{
                color: #ffffff;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                padding: 1.5rem;            
            }  
        }  
    }
}


/* ---------- INICIO - DE QUE LADO ESTAS? - SECCION 3 ---------- */
.encabezado__seccion3{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    h3{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;  
        margin: 0;  
        font-weight: bold;
    }
    .sobreviviente{
        background-color: #b1bfd8;
        background-image: linear-gradient(315deg, #2f4c7e 0%, #437ed8 74%);
        border-right: solid 1px rgb(0, 0, 0);
        box-shadow: black 3px 3px 6px 0px;    
    }
    .asesino{
        background-color: #3f0d12;
        background-image: linear-gradient(315deg, #3f0d12 0%, #8a0c0c 74%);
        box-shadow: black 3px 3px 6px 0px;    
    }
}
.personajes{
    background-image: url("../Media/Personajes/Personajes\ fondo.jpg");
    .personajes__carousel{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 6rem 8rem 6rem 8rem; 
        @mixin border-bottom {     /* ------------------ MIXINS -----------------*/
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        @mixin border-top {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        @mixin estilo-text {
            color: #000000;
            box-shadow: black 0px 0px 25px 10px;
            font-family: "archivo narrow";
            width: 400px;
            height: auto;
            padding: 20px;
            margin: 0;
        }
        .personajes__cont{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            transition: 0.5s; 
            img{
                width: 400px;
                box-shadow: black 0px 0px 25px 10px;    
                @include border-top;        
            }    
            h4{
                font-weight: bold;
                margin: 0;
                text-align: center;
            }   
            .personajes__surv__title{
                background-color: #000000;
                background-image: linear-gradient(315deg, #2f4c7e 0%, #437ed8 74%);
                @include estilo-text;
                @include border-bottom;
            }
            .personajes__kill__title{
                background-color: #3f0d12;
                background-image: linear-gradient(315deg, #3f0d12 0%, #8a0c0c 74%);
                @include estilo-text;
                @include border-bottom;
            }
            .inicio__img__hover{
                position: relative;
                width: 400px;
                img{
                    display: block;
                    width: 100%;
                }
                .inicio__img__overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.6);
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: opacity 0.30s;
                    padding: 20px;
                    &:hover{
                        opacity: 1;
                    }
                    p{
                        font-size: 1rem;
                        padding: 30px;
                    }
                }
            }
            &:hover{
                transform: scale(1.1,1.1);
            }
        }  
    }
}


/* ---------- INICIO - NOTICIAS - SECCION 3 ---------- */
.inicio__noticias{
    background-image: url("../Media/Noticias/Noticias\ fondo\ 2.jpg");
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "InicioAniversario InicioCapitulo24"
    "InicioAniversario InicioTomo12";
    div{
        padding: 25px;
        margin: 15px;
        img{
            border: 1px solid #7c0000;
            box-shadow: black 0px 0px 25px 10px;  
            transition: 0.5s;
        }
        img:hover{
            transform: scale(1.1,1.1);
            border: 2px solid #7c0000; 
        }
        iframe{
            width: 550px;
            height: 300px;
            margin-bottom: 60px;
            border: 1px solid #7c0000;
            box-shadow: black 0px 0px 25px 10px;            
        }
    }
    .inicio__aniversario{
        background-image: url("../Media/Background.jpg");
        background-size: cover;
        box-shadow: black 0px 0px 25px 10px;
        grid-area: InicioAniversario;   
        width: 80%; 
        .inicio__aniversario__media{
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 100px;
            justify-items: center;
            align-items: center;
        }  
    }
    .inicio__cap24{
        background-image: url("../Media/Background.jpg");
        background-size: cover;
        box-shadow: black 0px 0px 25px 10px;
        grid-area: InicioCapitulo24;
        justify-items: center; 
        width: 80%;   
        img{
            width: 400px;
        }
    }
    .inicio__tomo12{
        background-image: url("../Media/Background.jpg");
        background-size: cover;
        box-shadow: black 0px 0px 25px 10px;
        grid-area: InicioTomo12;  
        width: 80%; 
        img{
            width: 400px;
        } 
    }
}



