
/* ------------------------------------------------------------------------------------------ INICIO -----------------------------------------------------------------------------------------------------------------*/

/* ---------- INICIO - BIENVENIDOS - SECCION 1 ---------- */
.seccion__bienvenidos{
    background-image: url("../Media/Bienvenidos/Fondo\ bienvenidos.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 90px 50px 90px 50px;
    .sobre__juego{
        background-image: url("../Media/Bienvenidos/Background.png");
        background-size: cover;
        box-shadow: black 3px 3px 6px 0px;
        padding: 40px; 
        width: 100%;
    }
    .plataformas1{
        width: 50%;
        margin-left: 30px; 
        .plataformas2{
            background-image: url("../Media/Background.jpg");
            background-size: cover;
            box-shadow: black 0px 0px 25px 10px;
            text-align: center;
            color: white;
            padding: 40px;
            height: 430px;
            img{
                width: 45px;
                transition: 0.5s;        
            }    
            & img:hover{
                transform: scale(1.6,1.6);
            } 
            .plataformas__iconos{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-row-gap: 7rem;
                justify-items: center;  
                padding-top: 30px; 
            }
        }
    }
}


/* ---------- INICIO - DLC - SECCION 2 ---------- */
.dlc__seccion{
    background-image: url("../Media/DLC/DLC\ fondo.jpg");
    background-size: cover;
    .dlc__carousel{
        display: flex;
        flex-direction: row;
        justify-content: center;  
        .dlc__card{
            margin: 7rem 6rem 7rem 6rem;
            background-image: url("../Media/DLC/Fondo\ Contiene.png");
            transition: 0.5s;
            box-shadow: black 0px 0px 25px 10px;  
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            &:hover{
                transform: scale(1.1,1.1);
            }  
            .inicio__dlc__hover{
                position: relative;
                width: 600px;
                img{
                    width: 600px;
                    display: block;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px; 
                    border-top: 1px solid #333333;
                    border-left: 1px solid #333333;
                    border-right: 1px solid #333333;
                }
                .inicio__dlc__overlay{
                    background-color: rgba(0, 0, 0, 0.9);
                    color: white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: opacity 0.30s;
                    &:hover{
                        opacity: 1;
                    }
                    ul{
                        font-family: "archivo narrow";
                        font-size: 0.9rem;
                    }
                }
            } 
            h3{
                color: rgb(255, 255, 255);
                text-align: center;
                padding: 20px;
                margin: 0;
            }
        }  
    }
}


/* ---------- INICIO - DE QUE LADO ESTAS? - SECCION 3 ---------- */
.encabezado__seccion3{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    h3{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;  
        margin: 0;  
        font-weight: bold;
    }
    .sobreviviente{
        background-color: #b1bfd8;
        background-image: linear-gradient(315deg, #2f4c7e 0%, #437ed8 74%);
        border-right: solid 1px rgb(0, 0, 0);
        box-shadow: black 3px 3px 6px 0px;    
    }
    .asesino{
        background-color: #3f0d12;
        background-image: linear-gradient(315deg, #3f0d12 0%, #8a0c0c 74%);
        box-shadow: black 3px 3px 6px 0px;    
    }
}
.personajes{
    background-image: url("../Media/Personajes/Personajes\ fondo.jpg");
    background-size: cover;
    .personajes__carousel{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 6rem 8rem 6rem 8rem; 
        @mixin border-surv {
            border-top: 2px solid #132138;
            border-left: 2px solid #132138;
            border-right: 2px solid #132138;
        }
        @mixin border-kill {
            border-top: 2px solid #1f0507;
            border-left: 2px solid #1f0507;
            border-right: 2px solid #1f0507;
        }
        @mixin estilo-text {
            color: #000000;
            box-shadow: black 0px 0px 25px 10px;
            font-family: "archivo narrow";
            width: 90%;
            height: auto;
            padding: 20px;
            margin: 0;
        }
        .personajes__cont{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            transition: 0.5s;    
            h4{
                font-weight: bold;
                margin: 0;
                text-align: center;
            }   
            .personajes__surv__title{
                background-color: #000000;
                background-image: linear-gradient(315deg, #2f4c7e 0%, #437ed8 74%);
                @include estilo-text;
                @include border-bottom-radius;
            }
            .personajes__kill__title{
                background-color: #3f0d12;
                background-image: linear-gradient(315deg, #3f0d12 0%, #8a0c0c 74%);
                @include estilo-text;
                @include border-bottom-radius;
            }
            .inicio__img__hover{
                position: relative;
                width: 400px;
                img{
                    box-shadow: black 0px 0px 25px 10px;    
                    @include border-top-radius;  
                    display: block;
                    width: 90%;
                }
                .img__surv{
                    @include border-surv;
                }
                .img__kill{
                    @include border-kill;
                }
                .inicio__img__overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 90%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.6);
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: opacity 0.30s;
                    padding: 20px;
                    &:hover{
                        opacity: 1;
                    }
                    p{
                        font-size: 0.8rem;
                        padding: 30px;
                    }
                }
            }
            &:hover{
                transform: scale(1.1,1.1);
            }
        }  
    }
}



/* ---------- INICIO - NOTICIAS - SECCION 3 ---------- */
.inicio__noticias{
    background-image: url("../Media/Noticias/Noticias\ fondo\ 2.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "InicioAniversario InicioCapitulo24"
    "InicioAniversario InicioTomo12";
    div{
        padding: 25px;
        margin: 15px;
        img{
            border: 1px solid #7c0000;
            box-shadow: black 0px 0px 25px 10px;  
            transition: 0.5s;
            width: 500px;
        }
        img:hover{
            transform: scale(1.1,1.1);
            border: 2px solid #7c0000; 
        }
        iframe{
            width: 500px;
            height: 250px;
            margin-bottom: 60px;
            border: 1px solid #7c0000;
            box-shadow: black 0px 0px 25px 10px;            
        }
    }
    .inicio__aniversario{
        background-image: url("../Media/Background.jpg");
        background-size: cover;
        box-shadow: black 0px 0px 25px 10px;
        grid-area: InicioAniversario;   
        width: 80%; 
        .inicio__aniversario__media{
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 100px;
            justify-items: center;
            align-items: center;
        }  
    }
    .inicio__cap24{
        background-image: url("../Media/Background.jpg");
        background-size: cover;
        box-shadow: black 0px 0px 25px 10px;
        grid-area: InicioCapitulo24;
        justify-items: center; 
        width: 80%;   
        img{
            width: 350px;
        }
    }
    .inicio__tomo12{
        background-image: url("../Media/Background.jpg");
        background-size: cover;
        box-shadow: black 0px 0px 25px 10px;
        grid-area: InicioTomo12;  
        width: 80%; 
        img{
            width: 350px;
        } 
    }
}



