
/* ------------------------------------------------------------------------------------------------- JUEGO -----------------------------------------------------------------------------------------------------------*/
.juego__carousel{
    display: flex;
    justify-content: space-evenly;
    .juego__card{
        background-color: #2e352d;
        background-size: cover;
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin-top: 7rem;
        margin-bottom: 7rem;
        transition: 0.5s;
        color: #ffffff;
        box-shadow: #000000 0px 0px 25px 10px;
        border: 0;
        img{
            border-bottom-left-radius: 5px;      
            border-top-right-radius: 0; 
        }
        &:hover{
            transform: scale(1.1,1.1);
            box-shadow: black 0px 0px 25px 10px;        
        }
        .juego__img__hover{
            position: relative;
            img{
                display: block;
            }
            .juego__img__overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.30s;
                &:hover{
                    opacity: 1;
                }
                p{
                    padding: 30px;
                }
            }
        }
        h2{
            text-align: center;
            margin: 0;
        }
        
    }
} 

.surv__bg{
    background-image: url(../Media/Sobrevivientes/surv_bg.jpg);
    background-size: cover;
}
.killer__bg{
    background-image: url(../Media/Asesinos/killer_bg.jpg);
    background-size: cover;
}






