
/* ------------------------------------------------------------------------------------------------- JUEGO -----------------------------------------------------------------------------------------------------------*/
.juego__card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 3rem;
    justify-items: center;
    padding: 40px;
    .card{
        color: black;
        box-shadow: #000000 0px 0px 25px 10px;
        text-align: center;
        border: none;
        width: 50%;
        transition: 0.5s;
        &:hover{
            transform: scale(1.1,1.1);

        }
        .juego__img__hover{
            position: relative;
            .juego__img__overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.30s;
                &:hover{
                    opacity: 1;
                }
                p{
                    padding: 30px;
                }
            }
        }
        .juego__surv__title{
            background-image: linear-gradient(315deg, #604417 0%, #b6a536 74%);
            box-shadow: black 0px 0px 25px 10px;
            @include border-bottom-radius;
            h3{
                margin: 0;
            }
        }
        .juego__kill__title{
            background-image: linear-gradient(315deg, #3f0d12 0%, #8a0c0c 74%);
            box-shadow: black 0px 0px 25px 10px;
            @include border-bottom-radius;
            h3{
                margin: 0;
            }
        }
    }
}
.surv__bg{
    background-image: url("../Media/Sobrevivientes/surv_bg.jpg");
    background-size: cover;
}
.killer__bg{
    background-image: url("../Media/Asesinos/killer_bg.jpg");
    background-size: cover;
}






