
/* --------------------------------------------------------------------------------------------------- INICIO --------------------------------------------------------------------------------------------------------*/
/* ----- Media Queries Mobile Inicio Bienvenidos ----- */
@media screen and (max-width:480px){
    .seccion__bienvenidos{
        display: flex;
        flex-direction: column;
        padding: 30px;
        h2{
            font-size: 1rem;
        }
        h3,p{
            font-size: 0.8rem;
        }
        .sobre__juego{
            padding: 20px;
            width: 100%;   
        }
        .plataformas1{
            display: flex;
            flex-direction: column;
            padding: 0;
            margin-top: 20px; 
            .plataformas2{
                width: 100%;
                border: none;
                padding: 20px;
                align-items: center;
                margin-bottom: 20px;  
                img{
                    width: 40px;
                    margin-bottom: 10px;
                    transition: none;            
                }  
                & img:hover{
                    width: 40px;
                }    
            }  
            .mobile{
                width: 100%;
            } 
        }
    }
}

/* ----- Media Queries Mobile Inicio DLC ----- */
@media screen and (max-width:480px){ 
    .dlc__seccion{
        .dlc__carousel{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;  
            .dlc__card{
                margin: 1rem;
                width: 85%;  
                .dlc__card__body{
                    padding: 0px 15px 15px 15px;
                    margin: 0;
                    align-items: flex-start;          
                    p,h3{
                        font-size: 0.7rem;
                        margin: 0;
                    }
                    h3{
                        padding-top: 15px;
                    }
                }          
            }  
        }
    }
}


/* ----- Media Queries Mobile Inicio De que lado estas?----- */
@media screen and (max-width:480px){     
    .encabezado__seccion3{
        h3{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .personajes{
        .personajes__carousel{
            margin: 4rem 6rem 4rem 6rem; 
            .personajes__cont{
                h4{
                    font-size: 1rem;
                }
                padding: 10px;
                .personajes__surv__title, .personajes__kill__title{
                    width: 180px;
                    padding: 10px;
                }
                .inicio__img__hover{
                    width: 180px;
                    img{
                        width: 180px;
                    }
                    .inicio__img__overlay{
                        p{
                            font-size: 0.6rem;
                            padding: 0;

                        }
                    }
                }
            }
        }
    }
}


/* ----- Media Queries Mobile Inicio Noticias ----- */
@media screen and (max-width:480px){     
    .inicio__noticias{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        div{
            padding: 20px;
            margin: 10px;
            iframe{
                display: none;
            }
            p{
                font-size: 0.8rem;
            }
        }
        .inicio__aniversario{
            width: 90%;
            img{
                width: 300px;
            }
        }
        .inicio__cap24{
            width: 90%;
            img{
                width: 300px;
            }
        }
        .inicio__tomo12{
            width: 90%;
            img{
                width: 300px;
            }
        }
    }

}

/* ------------------------------------------------------------------------------------------------- JUEGO -----------------------------------------------------------------------------------------------------------*/

/* ----- Media Queries Mobile Juego ----- */
@media screen and (max-width: 480px) {
    .juego__carousel{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 50px 50px 50px 50px;
        .juego__card{
            display: grid;
            grid-template-columns: 1fr;
            width: 50%;
            margin: 10px;
            &:hover{
                transform: none;
            }
            .juego__img__hover{
                .juego__img__overlay{
                    p{
                        font-size: 0.7rem;
                        padding: 10px;
                    }
                }
            }
            h2{
                font-size: 0.8rem;
            }
        }
    }
}